@font: 'Lancelot';
@pink: #D8005F;
@green: #00BB3F;
@yellow: #F1FD72;
@red: #8C003D;
@lgreen: #74E8D5;
@grey: #bbb;
@darkgrey: #333;

.bordered_post {
	margin: 2em 0em 1em 0em;
	padding: 0.4em 0em;
	border-top: thin solid #eee;
	text-align: justify;
	clear: both;
	word-wrap: break-word;
}

.georgia {
	font-family: georgia, times;
	font-size: 1em;
	font-weight: normal;
}

.clickable {
	cursor:pointer;
}

.small_font {
	font-size: 0.8em;
}

.rounded(@radius:10px){
	border-radius: @radius;
	-moz-border-radius: @radius;
}

.text-shadow(@color:#333) {
	text-shadow: 5px 1px 10px @color;
}

.shadow(@depth:4px) {
	-moz-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
}

 
 #details {
	 position:absolute;
	 z-index:50000;
	 min-height:120px;
	 width:260px;
	 background:white;
	 border:thin solid black;
	 padding: .5em;
		opacity:.9; /* FX/Opera/Safari/Chrome */
		-ms-filter:"alpha(opacity=90)"; /* IE8 */
		filter:alpha(opacity=90); /* IE6/IE7 */
	 .shadow;
	 .rounded;
	 
	 h2 {
	 	margin: 0 0 0 0;
	 }
 }

fieldset#front {
	border: medium solid @lgreen;
	width: 450px;
	margin: 0px auto;
	.rounded;

	h1 {
		font-size: 5em;
		margin: 0 0 0 0;
	}
}

#notifications, #messages, #updates, #mywall, #validations {
	text-align: left;
	clear: both;
}

span.checkboxes, span.validation, span.trip_notification {
	float: right;
	}
	
.messageMarked, .notificationMarked, .validationMarked, .tripMarked {
	float: right;
	color: @grey;
}

.message, .notification, .validation, .trip_notification {
	margin: .5em 0 .5em 0;
	clear: both;
	.clickable;
}

.preview:hover {
	color: @pink;
}

.full_message {
	margin: 1em 0em 1em 0em;
	padding: .5em 1em;
	background: #FAFAFA;
	border: @darkgrey;
	word-wrap: break-word;
	width: 97%;
	.rounded(2px);

	.subject {
		color: @green;
	}
	
	.content {
		margin: .8em 0 0 0em;
	}
}

.threadedMessages {
	clear: both;
	border-top: thin solid #BBB;
	margin: 1em 0 0 1em;
	padding: .5em 0 0 0;
}


.post {
	.bordered_post;
}

#trips {
	text-align: left;
}

.spoonerTrip {
	float: left;
	text-align: left;
	margin: .4em 0 0 0;
	width: 100%;
	padding-top: .4em;
	border-top: thin solid #EEE;
}

.announcedTrip {
	.bordered_post;
}

.editingThisTrip {
	color: @green;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }