@font: 'Lancelot';
@pink: #D8005F;
@green: #00BB3F;
@yellow: #F1FD72;
@red: #8C003D;
@lgreen: #37DD6F;
@grey: #bbb;
@darkgrey: #333;

.clickable {
	cursor:pointer;
}

.small_font {
	font-size: 0.8em;
}

.rounded(@radius:10px){
	border-radius: @radius;
	-moz-border-radius: @radius;
}

.text-shadow {
	text-shadow: 2px 2px 1px #333;
}

.shadow(@depth:4px) {
	-moz-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
}

div.article {
	margin: 1.2em 0em;
	padding: .8em 0em;
	border-bottom: thin solid @pink;
	text-align: justify;
	clear: both;
	word-wrap: break-word;

	h3 {
		color: @lgreen;
		font-size: 2em;
		margin: 0 0 0 0;
		text-align: left;
		display:inline;
	}
	
	.author {
		margin-left: .3em;
		color: @grey;
		.small_font;
	}
	
	.tag {
		background: black;
		color: @yellow;
		margin: 0 .2em 0 .2em;
		padding: .1em .2em .1em .2em;
		.small_font;
		.clickable;
		.rounded(1px);
	}
	
	.tags {
		margin: .5em 0 .5em 0;
	}
	
	.comments {
		.small_font;
		margin: 1.3em 0 0 0;
		padding: 0 1.3em 0 1.3em;
		
		span {
			color: @grey;
		}
		
	}
	
	.comment {
		margin: 1em 0 0 0;
	}
}

#newPost {
	input[type="text"], textarea {
		width: 400px;
		margin-bottom: .3em; 
	}
	
	textarea {
		height: 12em;
	}	
}	

#searchBlog {
	position: absolute;
	top: 90px;
	width: 800px;
	float:right;
	.rounded;
	
	input[type="search"] {
		width: 40%;
		margin-right: .3em;
	}
}

.tagSelect {
		text-align: left;
		width: 400px;
		margin: 0px auto;
		
	span {
		text-align: left;
		color: @pink;
	}

	div {
		margin-left: 170px;
	}
}

.commentForm {
	margin-top: 1em;
	padding: .5em 1em;
	background: #ddd;
	border: @darkgrey;
	.rounded(2px);
}

.addComment {
	color: @grey;
	display:inline;
	.clickable;
	
	.commentInput {
	}
	
}

.addComment:hover {
	color: @pink;
}

.commentContent {
	height: 3.4em;
	width: 88%;
}

div.latest {
	margin: 1em 0em 1em 0em;
	padding: 1em 0em .5em 0em;
	border-bottom: thin solid @grey;
	text-align: justify;
	color: @grey;
	.small_font;

	.timestamp {
		float:right;
	}
	
	h3 {
		color: @lgreen;
		font-size: 2em;
		margin: 0 0 0 0;
		text-align: left;
	}
}

.settingType {
	width: 400px;
	margin: 0px auto;
	
	span {
		float: left;
		text-align: left;
		padding: 0.1em 0.4em 0.1em 0.4em;
	}
	
	.type {
		color: @pink;
		margin: 0em 1em 1em 0em;
		width: 80px;
	}

}

#edit {
	clear: both;
	text-align: center;
	margin: 2em 0em 0em -600px;
}


