@font: 'Lancelot';
@pink: #D8005F;
@green: #00BB3F;
@yellow: #F1FD72;
@red: #8C003D;
@lgreen: #74E8D5;
@grey: #bbb;
@darkgrey: #333;

.bordered_post {
	margin: 2em 0em 1em 0em;
	padding: 0.4em 0em;
	border-top: thin solid #eee;
	text-align: justify;
	clear: both;
	word-wrap: break-word;
}

.timestamp {
	color: @grey;
	.small_font;
}

.clickable {
	cursor:pointer;
}

.small_font {
	font-size: 0.8em;
}

.rounded(@radius:10px){
	border-radius: @radius;
	-moz-border-radius: @radius;
}

.text-shadow {
	text-shadow: 2px 2px 1px #333;
}

.shadow(@depth:4px) {
	-moz-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
}
	
.tag {
	background: black;
	color: @yellow;
	margin: 0 .2em 0 .2em;
	padding: .1em .2em .1em .2em;
	.small_font;
	.clickable;
	.rounded(1px);
}

.tag:hover {
	color: @pink;
	text-decoration:underline;
}

div#articles > *:last-child, div#posts > *:last-child {
	border-bottom: thin solid #eee;
}

div#articles > *:nth-child(odd), div#posts > *:nth-child(odd) {
	background: #FAFAFA;
	
	.comment {
		border-top: thin solid #eee;
	}
	
	.commentForm {
	background: #FAFAFA;
	}
	
}

div.article {
	.bordered_post;
	margin: 0 0 0 0;
	.rounded(1px);
	padding: 1em .5em .8em .5em;

	h3 {
		color: @lgreen;
		font-size: 2em;
		margin: 0 0 0 0;
		text-align: left;
		display:inline;
	}
	
	.author {
		margin-left: .3em;
		color: @grey;
		.small_font;
	}
	
	.tags {
		margin: .5em 0 .5em 0;
	}
	
	.comments {
		.small_font;
		margin: 1.3em 0 0 0;
		padding: 0 1.3em 0 1.3em;
		
		span {
			color: @grey;
		}
	}
	
	.comment {
		clear:both;
		margin: 1em 0 1em 0;
		padding-top: .4em;
		border-top: thin solid #FAFAFA;
	}
	
	.articleComments {
		.clickable;
	}
	
	.articleComments:hover {
		color: @pink;
	}
}

#newPost {
	input[type="text"], textarea {
		width: 600px;
		margin: .3em; 
	}
	
	textarea {
		height: 12em;
	}
	
	.smaller {
		width: 160px !important;
	}
}	

#searchBlog {
	position: absolute;
	top: 90px;
	width: 800px;
	float:right;
	.rounded;
	
	input[type="search"] {
		width: 40%;
		margin-right: .3em;
	}
}

.tagSelect {
		text-align: left;
		width: 400px;
		margin: 0px auto;
		margin-top: 1em;
		height: 120px;
		overflow-y: scroll;
		
	span {
		text-align: left;
		color: @pink;
	}

	div {
		margin-left: 170px;
	}
}

.commentForm {
	margin-top: 1em;
	padding: .5em 1em;
	background: #ddd;
	border: @darkgrey;
	.rounded(2px);
}

.addComment {
	color: @grey;
	display:inline;
	.clickable;
	
	.commentInput {
	}
	
}

.addComment:hover {
	color: @pink;
}

.commentContent {
	height: 3.4em;
	width: 88%;
}

.replyContent {
	height: 3.4em;
	width: 92%;
}

.reply {
	
	margin: 1em 0 .2em 0;
}	

div.latest {
	.bordered_post;
	
	div {
		float:left;
		padding: .8em 0em;
	}
	
	div:first-child {
		margin-right: .4em;
	}

	.datetime {
		float:right !important;
		.timestamp
	}
	
	p {
		color: @grey;
		font-size: 1em;
		margin: 1em 0 0 1em;
		text-align: left;
	}
}

div.settings {
	text-align: center;
}

.type {
	margin: 0em .4em 1em 0em;
	width: 120px;
	text-align: left;
}

.close {
	float:right;
	margin: -1em 0 0 0;
	background: transparent url("../images/icons_module.png") no-repeat 0 0;
	display: inline-block;
	height: 16px;
	vertical-align: text-top;
	 width: 16px;
	overflow: hidden;
	background-position: 3px -500px;
	.clickable;
}

.memberTimestamp {
	font-size: .8em;
	float: right;
	color: @grey;
}
