@font: 'Lancelot';
@pink: #D8005F;
@green: #00BB3F;
@yellow: #F1FD72;
@red: #8C003D;
@lgreen: #74E8D5;
@grey: #c7c7c7;
@dark: #333;

.clickable {
	cursor:pointer;
}

.rounded(@radius:10px){
	border-radius: @radius;
	-moz-border-radius: @radius;
}

.text-shadow {
	text-shadow: 0px 1px 0px #efefef;
}

.small_font {
	font-size: 0.8em;
}

.shadow(@depth:4px) {
	-moz-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
	box-shadow: 0 @depth @depth rgba(0, 0, 0, 0.4);
}

img.grav {
	float: left;
	margin:0 .4em .4em 0em;
}

div#container{ 
	text-align:center;
	width:800px; 
	margin:0 auto; 
	margin-bottom: 4em;
}

h1, h2, h3, h4 {
	font-size: 2.8em;
	font-family: @font;
	color: @pink;
	font-weight: 800;
	letter-spacing: -.05em;
	clear:both;
	margin-top: 2em;
}

h2 {
	font-size: 2em;
	text-align: left;
	margin-bottom: .2em;
	.text-shadow;
}

form.main {
	line-height: 2em;	
	margin: 0px auto;
	width: 290px;
	background: white;
	padding: 15px 10px;
	.rounded;
}

a, a:visited {
	text-decoration: none;
	color: @lgreen;
	float: left;
}

a.back {
	margin-bottom: 2em;
}

a:hover {
	color: @pink;
}

th {
	font-weight: normal;
	text-align: right;
}

label {
	cursor: text;
}

input[type="password"], input[type="email"], input[type="search"], input[type="text"], input[type="textbox"], input[type="textarea"], textarea   {
	border: 1px #bbb solid;
	color: @dark;
	background: #fff;
	padding: 0.1em 0.4em 0.1em 0.4em;
	cursor: text;
	.rounded;
}

input[type="submit"], input[type="button"] {
	font-size: 0.8em;
}

div.error {
	text-align: center;
	position: relative;
	padding: 10px 10px;
	margin: 0px auto;
	margin-bottom: 20px;
	width: 290px;
	border: 2px solid @pink;
	z-index: 40;
	position: relative;
	color: @red;
	.rounded;
}

#notice, .notice {
	color: @green;
	margin: 0 0.2em 0 0;
}

.errorText, .pinkText {
	color: @pink !important;
}

.errorText {
	font-weight: bold;
}

.greyText {
	color: @grey !important;
}

.greenText {
	color: @green !important;
}

.darkText {
	color: @dark !important;
}

footer {
	height: 1.5em;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding: .8em 0em .4em 0em;
	width: 100%;
	margin: 4em 0 0 0;
}

header {
	width: 100%;
	padding-top: 1.4em;
	height: 3em;
	background: black;
	position: absolute;
	color: @grey;
	top: 0;
	left: 0;
	position: fixed;
	z-index:99;
	.shadow;
	
	#username {
		float:left;
		padding-left: 2em;
	}
	
	span {
		float: right;
		margin-right: 3em;
		.clickable;
	}
	
	span:hover {
		color: @pink;
		text-decoration:underline;
	}
	
	span.active {
		color: @yellow;
	}
	
}

body {
	margin-top: 7em;
	width: 100%;
	font: 11pt arial;
	color: @dark;
	min-height: 500px;
}	

.button_container {
	 margin-top:-2em; 
	 float:right;
	 .clickable;
}

.button_container.inline {
	margin: -.3em 0 0 0;	
}

.button_container:hover {
	color: @pink;
	
	.addNew {
		background-position: -22px -50px;
	}
	
	.delete {
		background-position: -22px -150px;
	}
	
	.edit {
		background-position: -22px -700px;
	}
}

.addNew {
	margin: 0 0 0 0;
	background: transparent url("../images/icons_module.png") no-repeat 0 0;
	display: inline-block;
	height: 16px;
	vertical-align: text-top;
	 width: 20px;
	overflow: hidden;
	background-position: 3px -50px;
	.clickable;
}
	
.addNew:hover {
	background-position: -22px -50px;
}

.delete {
	margin: 0 0 0 0;
	background: transparent url("../images/icons_module.png") no-repeat 0 0;
	display: inline-block;
	height: 16px;
	vertical-align: text-top;
	 width: 20px;
	overflow: hidden;
	background-position: 3px -150px;
	.clickable;
}

.delete:hover {
	background-position: -22px -150px;
}

.edit {
	margin: 0 0 0 0;
	background: transparent url("../images/icons_module.png") no-repeat 0 0;
	display: inline-block;
	height: 16px;
	vertical-align: text-top;
	 width: 16px;
	overflow: hidden;
	background-position: 3px -700px;
}

.edit:hover {
	background-position: -22px -700px;
}

.close:hover {
	background-position: -22px -500px;
}


.grey {
	color: @grey !important;
}

.question {
	background: transparent url("../images/questionmark.gif") no-repeat 0 0;
	display: inline-block;
	height: 22px;
	width: 23px;
	.clickable;
}

.question:hover {
	.shadow;
}

.tooltip {
	display:none;
	.small_font;
	max-width:300px;
	text-align:left;
	word-wrap: break-word;
}

.answer {
	color: @lgreen;
}

.user {
	.clickable;
	font-weight:bold;
}

.user:hover {
	text-decoration:underline;
}